.content {
    flex-direction: column;
    height: 100vh;
}

.title {
    color: #052C65;
    font-size: 40px;
    font-weight: 500;
    margin-top: 60px;
}

.input {
    width: 397px;
    box-sizing: border-box;
}

.btn {
    width: 397px;
    box-sizing: border-box;
}

.account {
    font-size: 12px;
    font-weight: 400;
}

.form-check {
    width: 397px;
    text-align: left;
}
