@use "auth";
body {
  font-family: Roboto,"sans-serif";
  font-size: 14px;
}
.sidebar {
  width: 219px;
  box-sizing: border-box;
  height: 100vh;
  color: #052C65;
  .logo-img {
    width: 98px;
    height: 40px;
  }
  li {
    width: 178px;
    box-sizing: border-box;
  }
  .name {
    margin-left: 16px;
    color: #052C65;
  }
  a {
    color: #052C65;
  }
  .user-profile {
    margin-bottom: 25px;
  }
  .nav-link {
    height: 40px;
  }
}


