<div class="container">
    <h1 class="main-title">Главная</h1>
    <div class="buttons-layout d-flex align-items-center ">
        <a href="javascript:void(0)" class="btn btn-outline-secondary">Сегодня</a>
        <a href="javascript:void(0)" class="btn btn-outline-secondary">Неделя</a>
        <a href="javascript:void(0)" class="btn btn-outline-secondary">Месяц</a>
        <a href="javascript:void(0)" class="btn btn-outline-secondary">Год</a>
        <a href="javascript:void(0)" class="btn btn-outline-secondary">Все</a>
        <a href="javascript:void(0)" class="btn btn-outline-secondary">Интервал</a>
        <div class="choice-interval">
            c <a href="javascript:void(0)" id="start-interval" class="text-secondary">Дата</a> по <a
                href="javascript:void(0)" id="end-interval"
                class="text-secondary">Дата</a>
        </div>
    </div>
    <div class="diagrams-block d-flex align-items-center">
        <div class="diagram-left">
            <h2 class="diagram-title text-center">Доходы</h2>
            <div class="chart-view">
                <canvas id="incomeChart" style="display: block; box-sizing: border-box; height: 467px; width: 437px;" height="467" width="437"></canvas>
            </div>
        </div>
        <div class="divider"></div>
        <div class="diagram-right">
            <h2 class="diagram-title text-center">Расходы</h2>
            <div class="chart-view">
                <canvas id="expensesChart" style="display: block; box-sizing: border-box; height: 467px; width: 437px;" height="467" width="437"></canvas>
            </div>
        </div>
    </div>
</div>