<div class="container">
    <h1 class="finance-title">Создание дохода/расхода</h1>
    <form action="#">
        <input type="text" class="finance-input form-control" placeholder="Тип..."  id="type">
        <input type="text" class="finance-input form-control" placeholder="Категория..." id="category">
        <input type="text" class="finance-input form-control" placeholder="Сумма в $..." id="amount">
        <input type="text" class="finance-input form-control" placeholder="Дата..." id="date">
        <input type="text" class="finance-input form-control" placeholder="Комментарий..." id="commentary">
        <div class="layout d-flex align-items-center mt-3" >
            <a href="javascript:void(0)" class="create-btn btn btn-success" id="process-button">Создать</a>
            <a href="/income-expenses" class="cancel-btn btn btn-danger">Отмена</a>
        </div>
    </form>
</div>