<div class="container">
    <h1 class="finance-title">Доходы и расходы</h1>

    <div class="buttons d-flex align-items-center">
        <a href="/create" class="btn btn-success">Создать доход</a>
        <a href="/create" class="btn btn-danger">Создать расход</a>
    </div>

    <div class="buttons-layout d-flex align-items-center ">
        <a href="#" class="btn btn-secondary">Сегодня</a>
        <a href="#" class="btn btn-outline-secondary">Неделя</a>
        <a href="#" class="btn btn-outline-secondary">Месяц</a>
        <a href="#" class="btn btn-outline-secondary">Год</a>
        <a href="#" class="btn btn-outline-secondary">Все</a>
        <a href="#" class="btn btn-outline-secondary">Интервал</a>
        <div class="choice-interval">
            c <a id="start-interval" class="text-secondary">Дата</a> по <a href="" id="end-interval"
                                                                           class="text-secondary">Дата</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">№ операции</th>
            <th scope="col">Тип</th>
            <th scope="col">Категория</th>
            <th scope="col">Сумма</th>
            <th scope="col">Дата</th>
            <th scope="col">Комментарий</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>

        </tbody>

    </table>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <p id="deleteModalText">Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.</p>
                </div>
                <div class="modal-buttons p-3 d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-success" id="confirmDelete">Да, удалить</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
</div>
